body{
    background-color: #333;
    position: relative;
    }
    
    
    .lada{
    background-color: white;
    width: 200px;
    height: 200px;
    position:fixed;
    right: -200px;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-align: center;
    }
    
    @keyframes myanimation{
    0%{background-color: white; right: -210px; top:0px; border-radius: 50% 50% 50% 50%;}
    50%{background-color: white; right: -210px; top:0px; border-radius: 50% 50% 50% 50%;}
    75%{background-color: white; right: -210px; top:0px; border-radius: 50% 50% 50% 50%;;}
    100%{background-color: white; right: -110px; top:0px; border-radius: 50% 50% 50% 50%;transform:rotate(-45deg);}
    }
    